

  .scroll-outer {
    height: 20rem;
    position:relative;
  
  }
  h3 {
    font-family: MontserratBold;
  }
  .rec-type {
    font-family: MontserratBold;
  }
  
  .scroll-inner {
    max-height:100%;overflow:auto;border:1px solid #786655;
    background-color: lightslategray;
  }
  .shade {
      background-color: burlywood;
  }
  
  .dv-pad{
    height: 5rem;
  }
  .warning-container {
    background-color: lightsalmon;
  
  }
  .cat-load {
      width: 200px;
      padding: 10px;
  }
  
  